---
layout: default
title: CSIS 160 Programming and Problem Solving II, SSST
---

<div id="home">
  <div id="content">

    <div id="exams">
      <h1>Exam Information:</h1>
      <ul class="posts">
        <li><span>26 Jun 2014</span> &raquo; Final exam, Fri, June 26
        (<a href="pdf/final-practice.pdf">practice problems</a> / <a href="pdf/final-practice-sol.pdf">solutions</a>)
        (<a href="pdf/final-review.pdf">review slides</a>)
        </li>
        <li><span>08 Jun 2015</span> &raquo; Test 3, Mon, June 8, 3pm
        (<a href="pdf/test3-sol.pdf">solutions</a>)
        (<a href="pdf/test3-practice.pdf">practice problems</a> / <a href="pdf/test3-practice-sol.pdf">solutions</a>) 
        </li>
        <li><span>20 Apr 2015</span> &raquo; Midterm, Mon, April 20, 3pm
        (<a href="pdf/midterm-sol.pdf">solutions</a>)
        (<a href="pdf/midterm-practice.pdf">practice problems</a> / <a href="pdf/midterm-practice-sol.pdf">solutions</a>)
        </li>
        <li><span>08 Apr 2015</span> &raquo; Test 1, Wed, April 8, 3pm
        (<a href="pdf/test1-sol.pdf">solutions</a>)
        (<a href="pdf/test1-practice.pdf">practice problems</a> / <a href="pdf/test1-practice-sol.pdf">solutions</a>)
        </li>
      </ul>
   </div>

    <div id="lectures" class="leftcol">
      <h1>Lectures:</h1>
      <ul class="posts">
        {% for post in site.posts %}
        {% if post.lecture != null %}
          <li><span>{{ post.date | date: "%d %b %Y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
          {% if post.slides %}
            (<a href="pdf/{{post.slides}}">slides</a>)
          {% endif %}
          </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div id="lectures">
      <h1>Labs:</h1>
      <ul class="posts" class="rightcol">
          <li><span>28 May 2015</span> &raquo; <a href="pdf/lab-week-13.pdf">Lab week 13 assignment</a></li>
          <li><span>14 May 2015</span> &raquo; <a href="pdf/lab-week-11.pdf">Lab week 11 assignment</a></li>
          <li><span>07 May 2015</span> &raquo; <a href="pdf/lab-week-10.pdf">Lab week 10 assignment</a></li>
          <li><span>02 Apr 2015</span> &raquo; <a href="pdf/lab-week-05.pdf">Lab week 5 assignment</a></li>
          <li><span>26 Mar 2015</span> &raquo; <a href="pdf/lab-week-04.pdf">Lab week 4 assignment</a></li>
          <li><span>19 Mar 2015</span> &raquo; <a href="pdf/lab-week-03.pdf">Lab week 3 assignment</a></li>
          <li><span>12 Mar 2015</span> &raquo; <a href="pdf/lab-week-02.pdf">Lab week 2 assignment</a></li>
      </ul>
    </div>

    <div style="clear:both"></div>
  </div>

<!--
  <h1>Lecture Details:</h1>
  {% for post in site.posts %}
  <p><h2>{{ post.date | date_to_string }} - <a href="{{ post.url }}">{{ post.title }}</a></h2></p>
  <p>{{ post.content | strip_html | truncatewords: 55 }}
  <a href="{{ post.url }}">(continue reading)</a></p>
  {% endfor %}

  <h1>Resources:</h1>
  <ul class="posts">
  </ul>
-->

</div>
